body{
	font-family: arial;
	font-size: 14px;
	t

}

h3{
	text-align: center;

}

table{
	/*margin: auto;*/
	background: white;
	background-color: #e6e6e6;
	display: block;



}	
 .pRF{
 	border: solid;
	margin-left: 35%;
	margin-right: 27%;
 }

.redes{
	margin-top: 10%;
}

.parametroReserva{
	margin-left:auto;
	width: 900px;
  	margin-left: auto;
  	margin-right: auto;
}

.principal{
  /*	background-color: #fafafa;
  	border: 1px solid #ccc;*/
  	padding: 0 1rem;
  	margin: 1rem;
}
.PeriodosAcademicos{
	margin-left:auto;
	width: 900px;
  	margin-left: auto;
  	margin-right: auto;
}

.pA{
	border: solid;
	margin-left: 40%;
	margin-right:40%;
}

.lPA{
	border: solid;
	margin-left: 40%;
	margin-right:30%;
}


th {
    border: 6px solid #dddddd;
    text-align: left;
    padding: 8px;